.profile{
    width: 60px;
height: 60px;

}
.profile-name{
    font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-transform: capitalize;

color: #303030;

}